* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Font';
  src: url('font/font.ttf') format('woff2');
  
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Font', sans-serif;
    font-size: 100%;
  }

  .hero {
    background-color: #fefae9;
  }

  .w-30 {
    width: 30%;
  }
  
  .button_menu {
    border: none;
    background-color: #fefae9;
  }

  .button_text {
    font-size: 4rem;
    color: #25282f; 
}
